services:
  postgres:
    image: postgres:16.9
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
    ports:
      - "5432:5432"

  server:
    build:
      context: .
      target: deploy
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - zig-out:/app/zig-out
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_SSLMODE=${POSTGRES_SSLMODE}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - ZIG_LOCAL_CACHE_DIR=/app/zig-cache
      - ZIG_GLOBAL_CACHE_DIR=/app/zig-cache
volumes:
  zig-out:
  postgres_data:
